Repository hmcts/em-stitching-api, pull requests merged in 2019-12, with the labels that each got.

#229 eager fetching of bundle and callback
  build.gradle
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/RemoveSpringBatchHistoryTasklet.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/resources/application.yaml
Labels: ns:em-stitching-pr-229

#237 Drop indexes and truncate tables
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em-stitching-pr-237

#230 Fix for page number on first page
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em-stitching-pr-230

#247 fix
  config/owasp/dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
Labels: ns:em-stitching-pr-247

#248 revert to eager fetching
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
Labels: ns:em-stitching-pr-248
