Repository hmcts/em-stitching-api, pull requests merged in 2019-11, with the labels that each got.

#184 Removed alias related lines
  charts/em-stitching/Chart.yaml
  charts/em-stitching/requirements.yaml
  charts/em-stitching/values.aat.template.yaml
  charts/em-stitching/values.preview.template.yaml
  charts/em-stitching/values.yaml
Labels: ns:em-stitching-pr-184

#199 Updated the relevant URL details
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.aat.template.yaml
  charts/em-stitching/values.preview.template.yaml
  charts/em-stitching/values.yaml
Labels: ns:em-stitching-pr-199

#197 adding try catch for fetching outline page
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
Labels: ns:em-stitching-pr-197

#198 EM-2308 - callback validation
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/MessageSourceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/validation/CallableEndpoint.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/validation/CallableEndpointValidator.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResource.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/errors/ExceptionTranslator.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/CallbackDto.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/DocumentTaskDTO.java
  src/main/resources/messages.properties
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/validation/CallableEndpointValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/errors/ExceptionTranslatorIntTest.java
Labels: ns:em-stitching-pr-198

#201 EM-2323: Remove underline style on index
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
Labels: ns:em-stitching-pr-201

#204 Removed bundle title from Index Page
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em-stitching-pr-204

#203 Remove PDF coversheet service and use a single method for coversheets
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFCoversheetService.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFCoversheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerCoversheetsTest.java
Labels: ns:em-stitching-pr-203

#206 Callback url port fix
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/validation/CallableEndpointValidator.java
Labels: ns:em-stitching-pr-206

#207 NPE fix
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
Labels: ns:em-stitching-pr-207

#208 fix the overlapping text
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
Labels: ns:em-stitching-pr-208

#202 added order by to new task reader to make sure that tasks are done in…
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em-stitching-pr-202

#211 indent postgres & bump chart
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.preview.template.yaml
Labels: ns:em-stitching-pr-211

#216 Remove empty folders from bundles
  .gitignore
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleContainer.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleFolder.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
Labels: ns:em-stitching-pr-216

#221 Index STEP_NAME on BATCH_STEP_EXECUTION
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em-stitching-pr-221

#219 Add a separate task queue for callbacks
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em-stitching-pr-219
