Repository hmcts/em-stitching-api, pull requests merged in 2019-10, with the labels that each got.

#115 Updated the db details
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.aat.template.yaml
  charts/em-stitching/values.preview.template.yaml
  charts/em-stitching/values.yaml
Labels: ns:em-stitching-pr-115

#122 Updated the db schema for AAT
  charts/em-stitching/values.aat.template.yaml
Labels: ns:em-stitching-pr-122

#123 Fix for file access issue
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em-stitching-pr-123

#127 Updated fix for file access issue
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em-stitching-pr-127

#131 env specific locks
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.aat.template.yaml
  charts/em-stitching/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/resources/application.yaml
Labels: ns:em-stitching-pr-131

#96 Em 1904
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/HttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Callback.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/DocumentTask.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/enumeration/CallbackState.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/repository/DocumentTaskRepository.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/CallbackDto.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/DocumentTaskDTO.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/mapper/CallbackMapper.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/mapper/DocumentTaskMapper.java
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/CallbackTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/DocumentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/EntityAuditEventTest.java
Labels: ns:em-stitching-pr-96

#102 EM 1820 page number format
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/enumeration/PageNumberFormat.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/PageNumberFormatTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerCoversheetsTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTestUtil.java
Labels: ns:em-stitching-pr-102

#124 Em 2145 re paginate bundle files
  .gitignore
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/enumeration/PaginationStyle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/PaginationStyleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTestUtil.java
Labels: ns:em-stitching-pr-124

#147 Fixed the alignment issue
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
Labels: ns:em-stitching-pr-147

#152 Moved swagger build to jenkins files from travis
  .travis.yml
  Jenkinsfile_CNP
Labels: ns:em-stitching-pr-152

#164 parametise environment values
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
Labels: ns:em-stitching-pr-164

#168 Em 2230 page number title fix
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/enumeration/PageNumberFormat.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/PageNumberFormatTest.java
Labels: ns:em-stitching-pr-168

#148 Em 2198 cover page bundling
  build.gradle
  charts/em-stitching/values.preview.template.yaml
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/DocumentTask.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/DmStoreDownloader.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/TemplateRenditionClient.java
  src/main/resources/FL-FRM-GOR-ENG-12345.pdf
  src/main/resources/application.yaml
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerCoversheetsTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/TemplateRenditionClientExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/TemplateRenditionClientTest.java
  src/test/resources/config/application.yaml
Labels: ns:em-stitching-pr-148

#171 add chart api ver & bump chart
  charts/em-stitching/Chart.yaml
Labels: ns:em-stitching-pr-171

#149 Feature/em 1944 enable document outline
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
Labels: ns:em-stitching-pr-149

#172 gradle upgrade to 5.6.3
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: ns:em-stitching-pr-172

#174 Removed scala related code
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/stitching/performance/HttpConfiguration.scala
  src/aat/java/uk/gov/hmcts/reform/em/stitching/performance/NpaLoad.scala
  src/aat/java/uk/gov/hmcts/reform/em/stitching/performance/NpaSmoke.scala
  src/aat/resources/conf/logback.xml
Labels: ns:em-stitching-pr-174

#180 including fix for when outline doesnt have a page
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/aat/resources/Document-With-Outlines-No-Page-Links.pdf
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
Labels: ns:em-stitching-pr-180

#181 making a recursive function to copy multiple levels of child outlines
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
Labels: ns:em-stitching-pr-181
