Repository hmcts/em-stitching-api, pull requests merged in 2019-09, with the labels that each got.

#90 Update repo URL and appinsights jar
  Dockerfile
  docker-compose-dependencies.yml
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:em-stitching-pr-90

#91 Fix deprecation issues and use component for vault
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/em-stitching/Chart.yaml
  infrastructure/output.tf
Labels: ns:em-stitching-pr-91

#92 Replaced the vault_uri with key_vault_id
  infrastructure/main.tf
Labels: ns:em-stitching-pr-92

#93 Updated the URL's to idam & docmosis
  Jenkinsfile_CNP
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
Labels: ns:em-stitching-pr-93

#95 Correct DM store docker image config
  docker-compose-dependencies.yml
Labels: ns:em-stitching-pr-95

#97 Fixed an issue where some documents were not included in a bundle
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
Labels: ns:em-stitching-pr-97

#99 EM-1487-update-toc-and-font-size
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleContainer.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleFolder.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFCoversheetService.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em-stitching-pr-99

#101 Em 2117
  build.gradle
  config/owasp/dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/aat/resources/wordDocumentInternallyZip.docx
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/DocumentConversionServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/DmStoreDownloader.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/DocumentConversionService.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUriFormatter.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentConversionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/FileAndMediaType.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUriFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentConversionServiceImplTest.java
Labels: ns:em-stitching-pr-101

#103 aks prep
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.aat.template.yaml
  charts/em-stitching/values.preview.template.yaml
  charts/em-stitching/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em-stitching-pr-103
