Repository hmcts/em-stitching-api, pull requests merged in 2019-04, with the labels that each got.

#52 add print statements to functional tests
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
Labels: ns:em-stitching-pr-52

#54 helm aliasing
  charts/em-stitching/Chart.yaml
  charts/em-stitching/requirements.yaml
  charts/em-stitching/values.aat.template.yaml
  charts/em-stitching/values.preview.template.yaml
  charts/em-stitching/values.yaml
Labels: ns:em-stitching-pr-54

#55 helm hit liveness
  charts/em-stitching/values.yaml
Labels: ns:em-stitching-pr-55

#58 Em 1464 toggle toc coversheets
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDocumentDTO.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentTaskServiceImpl.java
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentTaskServiceImplTest.java
Labels: ns:em-stitching-pr-58

#59 tidy up functional tests
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOptionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
Labels: ns:em-stitching-pr-59

#61 Testing
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
Labels: ns:em-stitching-pr-61

#62 Shedlock
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/PersistentAuditEvent.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentTaskServiceImpl.java
  src/main/resources/db/db.changelog-master.xml
  src/main/resources/db/shedlock.sql
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFCoversheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/repository/CustomAuditEventRepositoryIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/repository/CustomAuditEventRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentConversionServiceImplTest.java
Labels: ns:em-stitching-pr-62
