Repository hmcts/em-stitching-api, pull requests merged in 2019-07, with the labels that each got.

#73 Add toggle and migration
  build.gradle
  config/checkstyle/checkstyle.xml
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOptionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em-stitching-pr-73

#75 cover more scenarios
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
Labels: ns:em-stitching-pr-75

#77 Update unit tests for pdf merger
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTestUtil.java
Labels: ns:em-stitching-pr-77

#78 Em 1484 add folder coversheet
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleFolder.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/SortableBundleItem.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTestUtil.java
Labels: ns:em-stitching-pr-78

#80 Bugfix em 1484 no folder names in bundle toc
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerCoversheetsTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUriFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/StringFormattingUtilsTest.java
Labels: ns:em-stitching-pr-80

#82 Update deps
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em-stitching-pr-82

#83 Revert "Update deps (#82)"
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em-stitching-pr-83

#85 update Postgres
  build.gradle
  infrastructure/main.tf
Labels: ns:em-stitching-pr-85
