Repository hmcts/em-stitching-api, pull requests merged in 2019-03, with the labels that each got.

#46 Helm charts
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/em-stitching/Chart.yaml
  charts/em-stitching/requirements.yaml
  charts/em-stitching/values.aat.template.yaml
  charts/em-stitching/values.template.yaml
  infrastructure/output.tf
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/security/SecurityConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em-stitching-pr-46

#48 [PREVIEW] Transaction fix
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleFolder.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentConversionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/mapper/BundleMapper.java
  src/main/resources/application.yaml
  src/test/resources/config/application.yaml
Labels: ns:em-stitching-pr-48

#47 Helm charts
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/em-stitching/values.aat.template.yaml
  charts/em-stitching/values.template.yaml
  dependency-check-suppressions.xml
  src/main/resources/bootstrap.yaml
Labels: ns:em-stitching-pr-47
