Repository hmcts/em-stitching-api, pull requests merged in 2019-05, with the labels that each got.

#63 add binary if necessary
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImplTest.java
Labels: ns:em-stitching-pr-63

#64 document task versioning
  README.md
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/DocumentTask.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/DocumentTaskService.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentTaskServiceImpl.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em-stitching-pr-64

#67 use build number as version number of document task
  README.md
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/info/BuildInfo.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResource.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/DocumentTaskService.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/mapper/DocumentTaskMapper.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentTaskServiceImplTest.java
Labels: ns:em-stitching-pr-67

#68 dm store url - stick doc-specific section to app.yaml defined dm-store
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUriFormatter.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUriFormatterTest.java
Labels: ns:em-stitching-pr-68

#70 Em 1543 add pdf to stitched filename
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/StringFormattingUtils.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUriFormatter.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUriFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/StringFormattingUtilsTest.java
Labels: ns:em-stitching-pr-70

#72 stop deploying to prod
  Jenkinsfile_CNP
Labels: ns:em-stitching-pr-72
