Repository hmcts/em-stitching-api, pull requests merged in 2020-09, with the labels that each got.

#397 EM-2750: Enabling PIT Mutation tests
  Jenkinsfile_nightly
  build.gradle
  config/owasp/dependency-check-suppressions.xml
  infrastructure/state.tf
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
Labels: ns:em, prd:em, rel:em-stitching-pr-397

#396 Updated nightly build file
  Jenkinsfile_nightly
  config/owasp/dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
Labels: ns:em, prd:em, rel:em-stitching-pr-396

#400 Added in logic for callback delay
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessorTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-400

#406 reinstroduce shedlock to prevent multiple job executions
  .gitignore
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-406

#398 Bug/em 3045 document outline dest fix
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/validation/CallableEndpointValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImplTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-398

#401 Em 2553 zap nightly
  Jenkinsfile_nightly
  audit.json
  build.gradle
  security.sh
  src/aat/java/uk/gov/hmcts/reform/em/stitching/smoke/SmokeTest.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/WelcomeResource.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/WelcomeResourceTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-401
