Repository hmcts/em-stitching-api, pull requests merged in 2020-01, with the labels that each got.

#240 EM-2426 Updated WordDocumentConverter to DocmosisConverter to c…
  Jenkinsfile_CNP
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/aat/resources/Performance_Out.pptx
  src/aat/resources/Portable_XR_ReportTemplate.xltx
  src/aat/resources/TestExcelConversion.xlsx
  src/aat/resources/XLSsample.xls
  src/aat/resources/potential_and_kinetic.ppt
  src/aat/resources/sample.ppsx
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/DocumentConversionServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverter.java
  src/main/resources/Performance_Out.pptx
  src/main/resources/TestExcelConversion.xlsx
  src/main/resources/potential_and_kinetic.ppt
  src/test/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverterTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/conversion/WordDocumentConverterTest.java
Labels: ns:em-stitching-pr-240

#259 EM-2419 Add space after a folder on TOC
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em-stitching-pr-259

#277 EM-2476: Update bundle entity to include email notification field
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em, rel:em-stitching-pr-277

#280 retrigger-build-to-fix-url-issue
  README.md
Labels: ns:em, rel:em-stitching-pr-280
