Repository hmcts/em-stitching-api, pull requests merged in 2020-04, with the labels that each got.

#346 Add additional test cases to satisfy new code coverage in Sonar
  Jenkinsfile_CNP
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.preview.template.yaml
  charts/em-stitching/values.yaml
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
Labels: ns:em, rel:em-stitching-pr-346

#347 Em 2628 error handling enrichment
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/aat/resources/bundle.json
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResource.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/AbstractAuditingDTO.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/CallbackDto.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/DocumentTaskDTO.java
  src/main/resources/bundle.json
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResourceIntTest.java
Labels: ns:em, rel:em-stitching-pr-347

#350 Change the lock mechanism on em-stitching api
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, rel:em-stitching-pr-350

#354 EM-2807 Removed the pdf from the exclusion list
  build.gradle
Labels: ns:em, rel:em-stitching-pr-354

#357 Resolved user-id issue
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/Config.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/security/SpringSecurityAuditorAware.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/repository/IdamRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/stitching/config/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/repository/IdamRepositoryTest.java
Labels: ns:em, rel:em-stitching-pr-357

#358 Added in mime type
  src/main/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverter.java
Labels: ns:em, rel:em-stitching-pr-358

#359 Updated Pact test for openId
  README.md
  build.gradle
  docker-pactbroker-compose.yml
  pacts/em_stitching_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/stitching/IdamConsumerTest.java
Labels: ns:em, rel:em-stitching-pr-359
