Repository hmcts/em-stitching-api, pull requests merged in 2020-03, with the labels that each got.

#279 OpenId Connect Changes
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  docker-compose-dependencies.yml
  idam-client-setup.sh
  infrastructure/demo.tfvars
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/OpenIdConnectScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/security/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/security/SecurityUtils.java
  src/main/resources/application.yaml
Labels: ns:em, rel:em-stitching-pr-279

#308 EM-1781: Try and get template instead of using render
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
  src/main/resources/watermark_rendered.pdf
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientRenderTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientWatermarkTest.java
Labels: ns:em, rel:em-stitching-pr-308

#323 EM-2625: Add file identifier fields to bundle object in stitching api
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em, rel:em-stitching-pr-323

#326 Add unit tests for Watermark
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
Labels: ns:em, rel:em-stitching-pr-326

#327 Add extra tests for coverage
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
Labels: ns:em, rel:em-stitching-pr-327

#329 EM-2625: Remove file identifier to see if solves issue with functiona…
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em, rel:em-stitching-pr-329

#325 EM-2675: Alter column length to fix issue for IAC
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/PersistentAuditEvent.java
Labels: ns:em, rel:em-stitching-pr-325

#331 EM-2625: Re-add file identifier for SSCS
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em, rel:em-stitching-pr-331

#334 Em 1781 non null json ignore
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/DocumentImage.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
Labels: ns:em, rel:em-stitching-pr-334

#335 EM-1876: Update local set up so that runs from one script
  README.md
  bin/idam-authenticate.sh
  bin/idam-client-setup.sh
  bin/start-local-environment.sh
Labels: ns:em, rel:em-stitching-pr-335

#336 EM-1781: Check the correct value is null in watermark method
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermark.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
Labels: ns:em, rel:em-stitching-pr-336

#345 Em 1876 remove issuer override
  Jenkinsfile_CNP
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  infrastructure/demo.tfvars
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/security/SecurityConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/TestSecurityConfiguration.java
Labels: ns:em, rel:em-stitching-pr-345

#344 EM-2675: Alter column length of principal column
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em, rel:em-stitching-pr-344

#341 EM-1781: Convert primitive int type to use Integer wrapper class
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/DocumentImage.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermark.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
Labels: ns:em, rel:em-stitching-pr-341
