Repository hmcts/em-stitching-api, pull requests merged in 2020-02, with the labels that each got.

#281 EM 2448 outline within index page
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOptionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
  src/main/resources/Potential_Energy_PDF.pdf
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em, rel:em-stitching-pr-281

#291 EM-2395: Alter email notification field to be a Boolean rather than p…
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em, rel:em-stitching-pr-291

#292 remove dockerbuild adn aadID
  Jenkinsfile_CNP
  charts/em-stitching/values.preview.template.yaml
Labels: ns:em, rel:em-stitching-pr-292

#294 EM-2606 Better error handling
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em, rel:em-stitching-pr-294

#295 Em 2603 sanitize pdf text
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOptionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/aat/resources/SamplePDF_special_characters.pdf
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
Labels: ns:em, rel:em-stitching-pr-295

#296 Em 1781 render image in stitched document
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/DocumentImage.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/enumeration/ImageRendering.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/enumeration/ImageRenderingLocation.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermark.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
  src/main/resources/Claimant-Medical-Report.pdf
  src/main/resources/db/db.changelog-master.xml
  src/main/resources/schmcts.png
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientTest.java
Labels: ns:em, rel:em-stitching-pr-296

#301 EM-2615 bundling prod issue
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
Labels: ns:em, rel:em-stitching-pr-301

#305 Add render endpoint to flux values.yaml and bump chart number to 0.1.16
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
Labels: ns:em, rel:em-stitching-pr-305

#303 catching the issue with the corrupt pdf
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
Labels: ns:em, rel:em-stitching-pr-303

#311 update java chart
  charts/em-stitching/Chart.yaml
  charts/em-stitching/requirements.yaml
Labels: ns:em, rel:em-stitching-pr-311
