Repository hmcts/em-stitching-api, pull requests merged in 2020-05, with the labels that each got.

#368 EM-2885 integrate pacts in pipeline and publish to broker
  Jenkinsfile_CNP
  build.gradle
  pacts/em_stitching_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/stitching/IdamConsumerTest.java
Labels: ns:em, rel:em-stitching-pr-368

#369 EM-2720: Serenity Reports generation.
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BaseTest.java
Labels: ns:em, rel:em-stitching-pr-369

#370 EM-2720 Serenity Single page reporting
  build.gradle
Labels: ns:em, rel:em-stitching-pr-370

#371 EM-2885 Fix for request body in pact json
  pacts/em_stitching_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/stitching/IdamConsumerTest.java
Labels: ns:em, rel:em-stitching-pr-371

#372 remove installcharts
  Jenkinsfile_CNP
Labels: ns:em, rel:em-stitching-pr-372
