Repository hmcts/em-stitching-api, pull requests merged in 2021-09, with the labels that each got.

#724 EM-3982: Syncronise Demo/PerfTest/ITHC branches with master
  Jenkinsfile_CNP
Labels: ns:em, prd:em, rel:em-stitching-pr-724

#722 Resolved Index page issue
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOptionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-722

#728 Fixed Index page layout
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
Labels: ns:em, prd:em, rel:em-stitching-pr-728
