Repository hmcts/em-stitching-api, pull requests merged in 2021-05, with the labels that each got.

#619 Fixed Resource leak
  src/main/java/uk/gov/hmcts/reform/em/stitching/info/BuildInfo.java
Labels: ns:em, prd:em, rel:em-stitching-pr-619

#622 Resolved local db setup issue
  bin/start-local-environment.sh
  docker-compose-dependencies.yml
  src/main/resources/application.yaml
  src/main/resources/liquibase.properties
Labels: ns:em, prd:em, rel:em-stitching-pr-622

#627 try #1
  .DS_Store
  config/.DS_Store
  src/.DS_Store
Labels: ns:em, prd:em, rel:em-stitching-pr-627

#628 Revert "try #1"
  .DS_Store
  config/.DS_Store
  src/.DS_Store
Labels: ns:em, prd:em, rel:em-stitching-pr-628

#629 Add same site cookie vulnerabilities to ignore list
  audit.json
Labels: ns:em, prd:em, rel:em-stitching-pr-629

#630 Updated docker-compose-dependencies
  docker-compose-dependencies-simulator.yml
  docker-compose-dependencies.yml
Labels: ns:em, prd:em, rel:em-stitching-pr-630

#626 Upgrade Springboot to 2.4.5
  Jenkinsfile_CNP
  build.gradle
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  config/owasp/dependency-check-suppressions.xml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/em/stitching/info/BuildInfo.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-626

#641 Updated failure log details
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessor.java
Labels: ns:em, prd:em, rel:em-stitching-pr-641

#642 Fixed Resource leak issues
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResource.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
Labels: ns:em, prd:em, rel:em-stitching-pr-642

#643 Fixed Resource leak issue
  src/main/java/uk/gov/hmcts/reform/em/stitching/info/BuildInfo.java
Labels: ns:em, prd:em, rel:em-stitching-pr-643
