Repository hmcts/em-stitching-api, pull requests merged in 2022-11, with the labels that each got.

#1224 EM-4736 close http response
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/HttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverter.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/validation/CallableEndpointValidator.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/HttpOkResponseCloser.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1224

#1228 EM-4744 avoid CVE-2022-31692
  build.gradle
Labels: ns:em, prd:em, rel:em-stitching-pr-1228

#1240 EM-4790 check-response
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/HttpOkResponseCloser.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1240

#1247 Updated log level to debug
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImpl.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1247

#1265 Remove failFast for functional tests
  build.gradle
Labels: ns:em, prd:em, rel:em-stitching-pr-1265

#1279 EM-4846 avoid vulnerability
  build.gradle
Labels: ns:em, prd:em, rel:em-stitching-pr-1279
