Repository hmcts/em-stitching-api, pull requests merged in 2022-02, with the labels that each got.

#864 Change the cron option for nightly build to 3am
  Jenkinsfile_nightly
Labels: ns:em, prd:em, rel:em-stitching-pr-864

#866 Increased the wait time and reduced the retry count for tests
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
Labels: ns:em, prd:em, rel:em-stitching-pr-866

#867 Dropped an db index
  build.gradle
  config/owasp/dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverter.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em, prd:em, rel:em-stitching-pr-867

#872 Added in logs to Docmosis calls
  src/main/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverter.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
Labels: ns:em, prd:em, rel:em-stitching-pr-872

#874 Fix Nightly Build
  audit.json
Labels: ns:em, prd:em, rel:em-stitching-pr-874

#877 Updated shedlock version
  build.gradle
Labels: ns:em, prd:em, rel:em-stitching-pr-877

#881 Update helm chart
  charts/em-stitching/Chart.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-881
