Repository hmcts/em-stitching-api, pull requests merged in 2022-07, with the labels that each got.

#1024 Update README.md
  README.md
Labels: ns:em, prd:em, rel:em-stitching-pr-1024

#1027 Removed redundant Ccd Def File import logic
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/ExtendedCcdHelper.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1027

#1029 Add caseId attribute to DocumentTask
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/DocumentTask.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/DocumentTaskDTO.java
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResourceIntTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1029

#1046 Remove redundant cve suppression
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-stitching-pr-1046
