Repository hmcts/em-stitching-api, pull requests merged in 2023-02, with the labels that each got.

#1368 EM-5024 fix fortify
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1368

#1369 EM-5024 fix fortify
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1369

#1329 Em 4923 folder outline
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleFolder.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleItemType.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/SortableBundleItem.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TreeNode.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
Labels: ns:em, prd:em, add-or-update, Do Not Merge, rel:em-stitching-pr-1329

#1373 fix test - fix master pipeline
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOptionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1373

#1374 Fix func test
  Jenkinsfile_CNP
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/aat/resources/new-one-page.pdf
  src/aat/resources/one-page_old.pdf
Labels: ns:em, prd:em, rel:em-stitching-pr-1374

#1375 Revert folder outline change
  Jenkinsfile_CNP
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOptionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/aat/resources/one-page.pdf
  src/aat/resources/one-page_old.pdf
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleFolder.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleItemType.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/SortableBundleItem.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TreeNode.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1375

#1377 Bundle outline fix
  charts/em-stitching/values.preview.template.yaml
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleFolder.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/BundleItemType.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/SortableBundleItem.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TreeNode.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
Labels: ns:em, prd:em, Do Not Merge, rel:em-stitching-pr-1377

#1378 enable outline tests
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1378

#1381 EM-4921 fix local run
  src/aat/resources/application.yml
Labels: ns:em, prd:em, rel:em-stitching-pr-1381

#1384 Updated terraform version
  infrastructure/.terraform-version
  infrastructure/variables.tf
Labels: ns:em, prd:em, add-or-update, rel:em-stitching-pr-1384

#1389 EM-5052 add coverpage template to log
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1389

#1418 Suppress CVE
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-stitching-pr-1418
