Repository hmcts/em-stitching-api, pull requests merged in 2023-08, with the labels that each got.

#1667 Revert "fix outline navigation"
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1667

#1668 Resolved Index Issue
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1668

#1672 Updated SpringBoot 3 batch config
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1672

#1676 Em 5457 update batch config springboot3 changes
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, add-or-update, rel:em-stitching-pr-1676

#1679 Updated fixedDelayString batch config
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1679

#1683 em-5486: added 1 fingerprint to audit.json
  audit.json
Labels: ns:em, prd:em, rel:em-stitching-pr-1683

#1687 Updated log level
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1687

#1694 Resolve Deprecation create
  src/contractTest/java/uk/gov/hmcts/reform/em/stitching/IdamConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverter.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImpl.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/config/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverterTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DocumentConversionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientRenderTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientWatermarkTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1694

#1704 Resolve local db update issue
  src/main/resources/db/migration/V2__document_task_created_date_index.sql
  src/main/resources/db/migration/V3__document_task_non_unique_created_date_index.sql
  src/main/resources/db/migration/V5__jhi_entity_audit_event_entity_type_entity_id_idx.sql
Labels: ns:em, prd:em, rel:em-stitching-pr-1704
