Repository hmcts/em-stitching-api, pull requests merged in 2023-11, with the labels that each got.

#1855 EM-5598 add logs
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/CdamService.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1855

#1862 EM-5649 bump java and app insight jar
  Dockerfile
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1862

#1868 Added in entity value2 changes
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/audit/AsyncEntityAuditEventWriter.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/EntityAuditEvent.java
  src/main/resources/db/migration/V6__jhi_entity_audit_event_entity_value2.sql
  src/main/resources/db/migration/V7__jhi_entity_audit_event_entity_value2_idx.sql
Labels: ns:em, prd:em, rel:em-stitching-pr-1868

#1871 Added in entity value migrated changes
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/audit/AsyncEntityAuditEventWriter.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/EntityAuditEvent.java
  src/main/resources/db/migration/V10__jhi_entity_audit_event_entity_value_migrated_idx.sql
  src/main/resources/db/migration/V9__jhi_entity_audit_event_entity_value_migrated.sql
Labels: ns:em, prd:em, rel:em-stitching-pr-1871

#1879 add max item count to reader
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-1879

#1886 add modified date index for audit event
  src/main/resources/db/migration/V11__jhi_entity_audit_event_modified_date.sql
Labels: ns:em, prd:em, rel:em-stitching-pr-1886, enable_keep_helm

#1889 add start date to cronjob query
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-1889

#1891 use zoned date time
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-1891

#1899 Reverted v15 db details
  infrastructure/main.tf
Labels: ns:em, prd:em, destroy, rel:em-stitching-pr-1899
