Repository hmcts/em-stitching-api, pull requests merged in 2023-12, with the labels that each got.

#1916 revert 'springdoc-openapi-starter-webmvc-ui'
  build.gradle
Labels: ns:em, prd:em, rel:em-stitching-pr-1916

#1917 revert uk.gov.hmcts.java
  build.gradle
Labels: ns:em, prd:em, rel:em-stitching-pr-1917

#1918 Added logic to count the retry attempts
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/DocumentTask.java
  src/main/resources/db/migration/V12__versioned_document_task_retry_attempts.sql
Labels: ns:em, prd:em, rel:em-stitching-pr-1918

#1929 Removed old entity value column
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/EntityValueProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/EntityAuditEvent.java
  src/main/resources/db/migration/V13__drop_entity_value.sql
Labels: ns:em, prd:em, rel:em-stitching-pr-1929

#1940 Removed all code related to entity value copy
  build.gradle
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/EntityValueProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/audit/AsyncEntityAuditEventWriter.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/EntityAuditEvent.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V14__drop_entity_value_migrated.sql
Labels: ns:em, prd:em, rel:em-stitching-pr-1940

#1939 EM-5717 arrange dependency management
  build.gradle
Labels: ns:em, prd:em, add-or-update, rel:em-stitching-pr-1939

#1941 Updated task deletion logic
  charts/em-stitching/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/RemoveOldDocumentTaskTasklet.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/repository/DocumentTaskRepository.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/RemoveOldDocumentTaskTaskletTest.java
Labels: ns:em, prd:em, Do Not Merge, enable_keep_helm, rel:em-stitching-pr-1941
