Repository hmcts/em-stitching-api, pull requests merged in 2023-03, with the labels that each got.

#1420 Changed method merge for the file to take the bundle name
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
Labels: ns:em, prd:em, Do Not Merge, rel:em-stitching-pr-1420

#1425 Resolved CVE
  build.gradle
Labels: ns:em, prd:em, rel:em-stitching-pr-1425

#1428 Updated CVE list
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-stitching-pr-1428

#1408 EM-5068 merge outlines
  config/owasp/dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/resources/outlined.pdf
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1408

#1422 Updated the logic for stitched file name
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/CdamService.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/StringFormattingUtils.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImpl.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/StringFormattingUtilsTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1422

#1433 Updated service auth value
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/CdamService.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/CdamServiceTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1433

#1439 EM-5145 fix getOutlinePage , ignore Nameddestinations
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1439

#1456 Resolve CVE-2022-1471
  build.gradle
Labels: ns:em, prd:em, rel:em-stitching-pr-1456
