Repository hmcts/em-stitching-api, pull requests merged in 2023-06, with the labels that each got.

#1560 EM-5300 override appinsight access
  charts/em-stitching/values.preview.template.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-1560

#1536 Em-5269 fix index page
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1536

#1573 Resolved CVE
  build.gradle
Labels: ns:em, prd:em, rel:em-stitching-pr-1573

#1448 EM-5150 merge named-destinations to bundle outline
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverterTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerCoversheetsTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientRenderTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClientWatermarkTest.java
  src/test/resources/test-files/Claimant-Medical-Report.pdf
  src/test/resources/test-files/FL-FRM-GOR-ENG-12345.pdf
  src/test/resources/test-files/Performance_Out.pptx
  src/test/resources/test-files/Potential_Energy_PDF.pdf
  src/test/resources/test-files/TEST_INPUT_FILE.pdf
  src/test/resources/test-files/TestExcelConversion.xlsx
  src/test/resources/test-files/annotationTemplate.pdf
  src/test/resources/test-files/bundle.json
  src/test/resources/test-files/outline_with_actions.pdf
  src/test/resources/test-files/outline_with_named.pdf
  src/test/resources/test-files/outlined.pdf
  src/test/resources/test-files/potential_and_kinetic.ppt
  src/test/resources/test-files/rtf.rtf
  src/test/resources/test-files/sample_text_file.txt
  src/test/resources/test-files/schmcts.png
  src/test/resources/test-files/watermark_rendered.pdf
  src/test/resources/test-files/wordDocument.doc
Labels: ns:em, prd:em, add-or-update, rel:em-stitching-pr-1448

#1580 EM-5259 logging
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
Labels: ns:em, prd:em, rel:em-stitching-pr-1580

#1597 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:em, prd:em, rel:em-stitching-pr-1597

#1599 Updated CVE list
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-stitching-pr-1599
