Repository hmcts/em-stitching-api, pull requests merged in 2024-11, with the labels that each got.

#2463 use pessimistic write and skip locked
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2463

#2469 Revert "set task state to in progress"
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/StoreDocumentTaskRetryCount.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2469

#2471 Revert "use pessimistic write and skip locked for callback"
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2471

#2475 Updated defaultLockAtMostFor
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2475

#2488 EM-6315 add civil for aat
  infrastructure/aat.tfvars
Labels: ns:em, prd:em, aat/add-or-update, prod/no-changes, rel:em-stitching-pr-2488

#2504 Em -6333 change test container
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/ContainerImageNameSubstitutor.java
  src/aat/resources/testcontainers.properties
  src/test/java/uk/gov/hmcts/reform/em/stitching/config/ContainerImageNameSubstitutor.java
  src/test/resources/testcontainers.properties
Labels: ns:em, prd:em, rel:em-stitching-pr-2504

#2525 Upgrade serenity to 4.2.9
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/smoke/SmokeTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2525
