Repository hmcts/em-stitching-api, pull requests merged in 2024-02, with the labels that each got.

#2031 update deprecated config
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/security/SecurityConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2031

#2057 Em 5838 resolve prod stitching backlog
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-2057

#2038 fix issues caused by multi line subtitles
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2038

#2061 Em 5838 resolve prod stitching backlog
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/UpdateDocumentTaskTasklet.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/UpdateDocumentTaskTaskletTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2061

#2072 resolve cve
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-stitching-pr-2072
