Repository hmcts/em-stitching-api, pull requests merged in 2024-05, with the labels that each got.

#2184 Disabled Spot instances
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-2184

#2198 EM-5999 refactor logs
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2198

#2203 EM-5908 fix code smells
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerCoversheetsTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/CdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImplTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2203

#2204 EM-5908 fix code smells-2
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2204
