Repository hmcts/em-stitching-api, pull requests merged in 2024-10, with the labels that each got.

#2396 EM-6266 update state before process
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/StoreDocumentTaskRetryCount.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
Labels: ns:em, prd:em, Do Not Merge, aat/no-changes, prod/no-changes, rel:em-stitching-pr-2396

#2413 EM-6266 update state before process #2396
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/StoreDocumentTaskRetryCount.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2413

#2374 local setup
  README.md
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/SecureDocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/aat/resources/application.yml
  src/cftlib/java/uk/gov/hmcts/reform/em/stitching/cftlib/CftLibConfig.java
  src/cftlib/resources/docker-compose-local.yml
  src/main/resources/application.yaml
  src/main/resources/cftlib-am-role-assignments.json
Labels: ns:em, prd:em, aat/no-changes, prod/no-changes, rel:em-stitching-pr-2374

#2433 EM-6284 increase retry count
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2433

#2440 Em-6284 increase cron interval
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, Do Not Merge, rel:em-stitching-pr-2440

#2458 set task state to in progress
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/StoreDocumentTaskRetryCount.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2458
