Repository hmcts/em-stitching-api, pull requests merged in 2024-03, with the labels that each got.

#2075 Em 5530 use string width
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2075

#2113 fix high severity code smells
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverter.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/enumeration/ImageRendering.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/enumeration/ImageRenderingLocation.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/enumeration/PageNumberFormat.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/validation/CallableEndpointValidator.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermark.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/CloseableCloser.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/HttpOkResponseCloser.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/dto/BundleDTO.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreDownloaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImpl.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/PageNumberFormatTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermarkTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2113

#2116 fix code smells
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskCallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResource.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/errors/ExceptionTranslator.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/util/HeaderUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2116

#2119 fix code smells
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TreeNode.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/errors/ExceptionTranslator.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/CdamService.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/service/impl/DmStoreUploaderImpl.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverterTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/domain/PaginationStyleTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/repository/CustomAuditEventRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/service/CdamServiceTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2119

#2120 fix code smells
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/validation/CallableEndpointValidator.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/DocumentTaskResource.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/WelcomeResource.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/rest/errors/ExceptionTranslator.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/conversion/DocmosisConverterTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/repository/CustomAuditEventRepositoryIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/rest/TestUtil.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2120

#2127 direct page link out of bounds to last page
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2127

#2128 Resolved CVE
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-stitching-pr-2128
