Repository hmcts/em-stitching-api, pull requests merged in 2024-07, with the labels that each got.

#2242 upgrade to pdfbox 3
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/SecureDocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermark.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerCoversheetsTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
Labels: ns:em, prd:em, aat/no-changes, prod/no-changes, rel:em-stitching-pr-2242

#2283 upgrade to pdfbox 3
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleFolderScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/BundleOutlineScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/DocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/functional/SecureDocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/stitching/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/Bundle.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMerger.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFWatermark.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/TableOfContents.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/template/DocmosisClient.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerCoversheetsTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFMergerTest.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2283

#2293 use dummy default key
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-2293

#2311 EM-6139 fix- remove COSObject if value is null
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutline.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFOutlineTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2311
