Repository hmcts/em-stitching-api, pull requests merged in 2024-06, with the labels that each got.

#2235 add ia-aat-mi to access policy for aat keyvault
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:em, prd:em, aat/add-or-update, prod/no-changes, rel:em-stitching-pr-2235

#2237 AAT: add sptribs to access policy for keyvault
  infrastructure/aat.tfvars
Labels: ns:em, prd:em, aat/add-or-update, prod/no-changes, rel:em-stitching-pr-2237

#2251 use AbstractAuditingEntity
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/audit/AsyncEntityAuditEventWriter.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/audit/EntityAuditEventListener.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/domain/AbstractAuditingEntity.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2251
