Repository hmcts/em-stitching-api, pull requests merged in 2024-04, with the labels that each got.

#2141 revert java chart upgrade
  charts/em-stitching/Chart.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-2141

#2158 update java chart
  charts/em-stitching/Chart.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-2158

#2170 Enabling spot instances for lower environments
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-2170

#2172 Moving spotinstances out of environment
  charts/em-stitching/Chart.yaml
  charts/em-stitching/values.yaml
Labels: ns:em, prd:em, rel:em-stitching-pr-2172
