Repository hmcts/em-stitching-api, pull requests merged in 2025-03, with the labels that each got.

#2685 prevent duplicate processing
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2685

#2686 Em 6579 update chunk size
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2686

#2687 Set taskstate to in progress
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/StoreDocumentTaskRetryCount.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2687

#2691 Added in more log
  src/main/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtility.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2691

#2700 remove redundant code
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskStateMarker.java
  src/main/java/uk/gov/hmcts/reform/em/stitching/config/BatchConfiguration.java
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskItemProcessorTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2700

#2703 Added in unit test
  src/test/java/uk/gov/hmcts/reform/em/stitching/batch/DocumentTaskStateMarkerTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2703

#2704 add test class
  src/test/java/uk/gov/hmcts/reform/em/stitching/pdf/PDFUtilityTest.java
Labels: ns:em, prd:em, rel:em-stitching-pr-2704
